# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env

# Logs
logs/
*.log

# macOS
.DS_Store

# Build output
dist/
build/

# VS Code
.vscode/

# Optional
uploads/

node_modules/
